<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<section class="outer-main">

    <div *ngIf="!isLoaded" class="loader-page">
            
        <div class="loader"></div>
      
    </div>


    


    <form [formGroup]="item_type_Form" class="main">

        <h3>{{ "itemType.addItemType" | translate }}</h3>


    
        <div class="left-panel">

            <label>
                <mat-form-field>
                    <mat-label>{{ "itemType.selfName" | translate }}</mat-label>
                    <input matInput #inputItemType formControlName="inputItemType">
                </mat-form-field>
            </label>

            <label>
                <mat-form-field>
                    <mat-label>{{ "itemType.groupRatePct" | translate }}</mat-label>
                    <input matInput type="number" #inputItemTypeRate formControlName="inputItemTypeRate">
                </mat-form-field>
            </label>

            <div class="button-container">
            
                <input type="button" value="{{ 'itemType.add' | translate }}" (click)="add_item_type()">
    
            </div>

            <div *ngIf="submitted && item_type_Form.invalid" class="errorHeader right-panel">{{ "itemAdd.errors.formError" | translate }}</div>
            
        </div>
        
     
        
    
    
    </form>


    <div class="right-panel">

        <div class="inner-right-panel">

            <h3>{{ "headerTabs.storage.itemType" | translate }}:</h3>


            <h4 *ngIf="item_types_count==0 && isLoaded" class="errorHeader">{{ "itemType.noGroups" | translate }}</h4>

            
            <table #item_type_table *ngIf="isLoaded && item_types_count>0" mat-table [dataSource]="item_types">
    
    
                <ng-container matColumnDef="group_name">
                    <th mat-header-cell *matHeaderCellDef>{{ "itemType.groupName" | translate }}</th>
                    <td mat-cell *matCellDef="let item_type">{{item_type.item_type}}</td>
                </ng-container>
                
                <ng-container matColumnDef="group_rate">
                    <th mat-header-cell *matHeaderCellDef>{{ "itemType.groupRate" | translate }}</th>
                    <td mat-cell *matCellDef="let item_type">{{item_type.rate * 100}} %</td>
                </ng-container>
    
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>{{ "itemList.edit" | translate }}</th>
                    <td mat-cell *matCellDef="let item_type">
                        <button mat-raised-button (click)="openEditDialog('100ms', '100ms', item_type.id, item_type.item_type, item_type.rate * 100)">
                            <mat-icon class="edit">edit</mat-icon>
                            {{ "itemList.edit" | translate }}
                        </button>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>{{ "itemList.delete" | translate }}</th>
                    <td mat-cell *matCellDef="let item_type">
                        <button mat-raised-button (click)="openDialog('100ms', '100ms', item_type.id, item_type.item_type)">
                            <mat-icon class="delete">delete</mat-icon>
                            {{ "itemList.delete" | translate }}
                        </button>
                    </td>
                </ng-container>
    
                <tr class="table-header" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
          
        
            </table>


        </div>


        <div class="inner-right-panel-1">

            <mat-paginator #pageNum
                   showFirstLastButtons
                   [pageSizeOptions]="[30, 60, 120, 240]"
                   aria-label="Select page">
            </mat-paginator>

        </div>



    </div>


</section>


