:host{
    height: 100%;
    display: flex;
}

.outer-main{

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 4rem;
    border-right: 1px solid black;
}

.left-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-panel{

    padding: 0.5rem;
    width: 100%;
    
}

h3{
    margin: 0 0 0.5rem 0;
}

.inner-right-panel{
    overflow-y: auto;
    scrollbar-gutter: stable;
    height: calc(100% - 60px);
}

.button-container{

    display: flex;
    flex-direction: column;
    align-items: center;

}

input[type = "button"]{

    border: 1px gray solid;
    background-color: #ebebeb;
    height: 2.2rem;
    color: navy;
    border-radius: 15px;
    padding: 0.5rem;
    font-weight: bold;
}
input[type = "button"]:hover{
    background-color: blue;
    color: white;
    border-color: blue;
    cursor: pointer;
}


.inner-right-panel-1{
    height: 60px;
}

td button, td a{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer
}

table th{
    position: sticky;
    top: 0px;
}

.edit{
    color: rgb(255, 183, 0);
}

.delete{
    color: rgb(134, 134, 134);
}



.table-header{
    background: rgb(223, 223, 223);
}

.mat-mdc-row:hover{
    background: rgb(238, 238, 238);
}