<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div *ngIf="!is_Loaded_Order || !is_Loaded_Add_Receipt" class="loader-page">
            
    <div class="loader"></div>
  
</div>


<section class="outer-main">



    <h3 *ngIf="is_Loaded_Order">
        {{ "orderInfo.selfName" | translate }}
        <span class="order_name">{{selected_order.order_name}}</span>
        <a routerLink="/manage-mate/order-edit/{{selected_order.id}}">
            <mat-icon class="edit">edit</mat-icon>
            {{ "itemList.edit" | translate }}
        </a>
    </h3>


    <div *ngIf="is_Loaded_Order" class="main">


        <div class="outer-left-panel">
            
            <div>
                <h3 class="info-header">{{ "orderInfo.conSite" | translate }}</h3>
                <h4>{{selected_order.construction_site_id_FK.construction_site_name}}</h4>
                <h4>{{ "orderInfo.Address" | translate }} {{selected_order.construction_site_id_FK.address}}, {{selected_order.construction_site_id_FK.cities_list_id_FK}}, {{selected_order.construction_site_id_FK.postal_code}}</h4>
            </div>

            <div>
                <h3 class="info-header">{{ "orderInfo.client" | translate }}</h3>
                <h4>{{selected_order.client_id_FK.name}} {{selected_order.client_id_FK.surname}} - {{selected_order.client_id_FK.company_name}}</h4>
                <h4>{{ "orderInfo.Address" | translate }} {{selected_order.client_id_FK.address}}, {{selected_order.client_id_FK.city_id_FK}}, {{selected_order.client_id_FK.postal_code}}</h4>
                <h4>{{ "orderInfo.clientMail" | translate }} {{selected_order.client_id_FK.email}}</h4>
                <h4>{{ "orderInfo.clientPhone" | translate }} {{selected_order.client_id_FK.phone_number}}</h4>
                <h4>{{ "orderInfo.clientNip" | translate }} {{selected_order.client_id_FK.nip}}</h4>
            </div>
    
        </div>
        



        <div class="outer-left-panel">

            <div>
                <h3 class="info-header">{{ "orderInfo.creationDate" | translate }}</h3>
                <h4>{{this.date_Handler.formatDate(selected_order.creation_date)}}</h4>
            </div>
            
            <div>
                <h3 class="info-header">{{ "orderInfo.status" | translate }}</h3>

                <h4 [class.color-green]="selected_order.status==1" [class.color-red]="selected_order.status==0">

                    @if(selected_order.status == 0){
                        {{ "orderList.statusInactive" | translate }}
                    }
                    @else {
                        {{ "orderList.statusActive" | translate }}
                    }                    

                </h4>

            </div>


            <div>

                <h3 class="info-header">{{ "orderAdd.defaultPaymentMethod" | translate }}</h3>
                <h4>{{selected_order.default_payment_method}}</h4>

            </div>


            <div>

                <h3 class="info-header">{{ "orderInfo.defaultPaymentDateOffset" | translate }}</h3>
                <h4>{{selected_order.default_payment_date_offset}}</h4>

            </div>

            <div>

                <h3 class="info-header">{{ "orderInfo.defaultDiscount" | translate }}</h3>
                <h4>{{selected_order.default_discount * 100}} %</h4>

            </div>

    
        </div>



        
        <div class="right-panel">

            <h3 class="info-header">{{ "orderInfo.receipts" | translate }}</h3>

            <div class="left-panel">

                <div class="right-panel">

                    <button routerLink="/manage-mate/receipt-list-in-out/{{selected_order.id}}/1" class="color-green color-green-hover">{{ 'orderInfo.receiptsOut' | translate }}</button>

                    <button routerLink="/manage-mate/receipt-list-in-out/{{selected_order.id}}/0" class="color-red color-red-hover">{{ 'orderInfo.receiptsIn' | translate }}</button>
                
                </div>
                
                <div class="right-panel">

                    <button (click)="add_receipt(true)" class="color-green color-green-hover">{{ 'orderInfo.receiptsOutNew' | translate }}</button>

                    <button (click)="add_receipt(false)" class="color-red color-red-hover">{{ 'orderInfo.receiptsInNew' | translate }}</button>

                </div>
                

            </div>

            <div>
                <h3 class="info-header">{{ "orderInfo.comment" | translate }}</h3>
                
                @if (!selected_order.comment){
                    <h4>{{ "orderInfo.noComment" | translate }}</h4>
                }
                @else {
                    <h4>{{selected_order.comment}}</h4>
                }

            </div>
    
        </div>
    
        
    
        
    
    
    </div>

</section>



