:host{
    height: 100%;
    overflow-y: auto;
}

.outer-main{
    padding: 1rem 2rem;
}

.order_name{
    font-size: 1.5rem;
    padding: 0 1rem;
}

.info-header{
    color: navy;
}

.main{
    display: flex;
}

.outer-left-panel{
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
}

h3{
    margin: 0 0 0.5rem 0;
}

h4{
    margin: 1rem 0;
}

.main h3{
    margin-top: 1rem;
}


.left-panel{
    display: flex;
}

.right-panel{
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
}

button{
    margin: 1rem 0;
    border: 1px gray solid;
    background-color: #ebebeb;
    font-size: 1.1rem;
    height: 3rem;
    border-radius: 15px;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.color-green-hover:hover{
    color:white;
    background-color: green;
    border-color: green;
}

.color-red-hover:hover{
    color:white;
    background-color: red;
    border-color: red;
}


.edit{
    margin-left: 3rem;
    color: rgb(255, 183, 0);
}



.color-green{
    color:green;
}

.color-red{
    color: red;
}