<style>
body {
margin: 0 auto;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.7rem;
padding: 1.2rem;
width: 21cm;
height: 29.7cm;
}
thead {
display: table-header-group
}
tfoot {
display: table-row-group
}
tr {
page-break-inside: avoid
}
.labels {
font-weight: bold;
}
header {
margin-bottom: 0.8rem;
border-bottom: 1px solid black;
}
header > table {
width: 40%;
margin-bottom: 1rem;
}
header > table > td {
width: 50%;
}
header > div {
text-align: center;
font-size: 1.2rem;
}
#number {
display: inline;
}
#number_label {
font-weight: bold;
display: inline;
}
.invoice_information {
width: 50%;
margin-bottom: 0.8rem;
float: left;
}
.invoice_information th {
text-align: left;
font-size: 0.9rem;
padding-bottom: 0.5rem;
}
.invoice_information td {
width: 25%;
}
#item_table {
margin: 0 auto;
width: 100%;
border-collapse: collapse;
margin-bottom: 0.8rem;
}
#item_table * {
border: 2px solid silver;
text-align: right;
}
#item_table th {
background-color: #DDD;
}
#summary_table {
float: right;
width: 30%;
margin-bottom: 0.8rem;
}
footer {
clear: both;
width: 100%;
margin: 0 auto;
}
footer td {
padding: 0.8rem;
}
footer table {
width: 100%;
border-top: 1px solid silver;
text-align: left;
border-collapse: collapse;
margin-bottom: 0.8rem;
}
footer tr {
border-bottom: 1px solid silver;
}
img {
    width: 70%;
    height: auto;
}
</style>