<footer>
    <table>
        <tr>
            <th style="width: 10%;">{0}</th>
            <td style="width: 90%;">{1}</td>
        </tr>

        <tr>
            <th style="width: 10%;">{2}</th>
            <td style="width: 90%;">{3}</td>
        </tr>
    </table>

    <div style="padding-top: 30px;">
        <div style="float: left; padding-bottom: 30px; border-bottom: 1px solid black; max-width: 50%" class="labels">
            {4}
        </div>
        
        <div style="float: right; max-width: 50%" class="labels">
            <div style="padding-bottom: 15px; text-align:right">{5}</div>
            <div>{6} {7}</div>
        </div>
    </div>
</footer>