<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?Linkid=208121.
-->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>F:\Projekty\Magazyn\storage\Publisher\ManagemateAPI 2.1</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_Targetid>Folder</_Targetid>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net8.0</TargetFramework>
    <ProjectGuid>a5d24a9c-5f0b-450f-867f-9e9904b663bc</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>