header{
    position: relative;
    width: 100%;
    background: white;
    padding: 0;
    border-bottom: 1px solid black;
    height: 3rem;
    font-weight: bold;
    color: navy;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
}


li a, .logo {
  position: relative;

}

li a:after, .logo:after {
  transition: 0.4s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  background: navy;
  height: 3px;
}
li a:hover:after, .logo:hover:after {
  width: 100%;
}



.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

a.logo, li a{
    height: 100%;
    margin: 0;
    padding: 1rem;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    height: 100%;
    display: flex;
    list-style: none;
    margin: 0;
}