<h2 mat-dialog-title>{{ "addReceiptDialog.title" | translate }}</h2>

<mat-dialog-content class="input-center" [formGroup]="input_field">

        
    <mat-form-field>
        <mat-label>{{ "receiptList.element" | translate }}</mat-label>
        <input matInput formControlName="element">
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ "receiptList.transport" | translate }}</mat-label>
        <input matInput formControlName="transport">
    </mat-form-field>

    <label *ngIf="this.data.in_out">
        <mat-checkbox formControlName="reservation">{{ "addReceiptDialog.reservation" | translate }}</mat-checkbox>
    </label>


    <div *ngIf="submitted && input_field.invalid" class="invalid">{{ "editDialog.empty" | translate }}</div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="Cancel()">{{ "editDialog.cancel" | translate }}</button>
  <button mat-button (click)="Confirm()" cdkFocusInitial>{{ "editDialog.confirm" | translate }}</button>
</mat-dialog-actions>